# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
debug.log
media/
staticfiles/
*.log

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
